@model HotelMngSystem.ViewModel.RoomViewModel


@* 
    
    @Model RoomViewModel
    @Model HotelMngSystem.ViewModel.RoomViewModel

    @{
        ViewBag.Title = "Index";
    }

*@

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadRoomDetails();
        $("#btnSave").click(function () {
            SaveRoomData();
        });
    });

    function DeleteRoom(roomId) {
        $.ajax({
            async: true,
            type: 'GET',
            dataType: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: { roomId: roomId },
            url: '/Room/EditRoomDetails',
            success: function (data) {

            },
            error: function () {
                alert('ERROR!')
            }
        })
    }

    function EditRoom(roomId) {
        alert(roomId);
    }

    function LoadRoomDetails() {
        // $("#divLoadRoomDetails")

        $.ajax({
            async: true,
            data: 'GET',
            dataType: 'HTML',
            contentType: false,
            processData: false,
            url: '/Room/GetAllRooms',
            success: function (data) {
                $("#divLoadRoomDetails").html(data);
            },
            error: function () {
                alert('There is an issue. Sorry!')
            }

        })
    }

    function SaveRoomData() {
        var formData = new FormData;
        formData.append("RoomNumber", $("#txtRoomNumber").val());
        formData.append("RoomPrice", $("#txtRoomPrice").val());
        formData.append("BookingStatusId", $("#ddBookingStatus").val());
        formData.append("RoomTypeId", $("#ddRoomType").val());
        formData.append("RoomCapacity", $("#txtRoomCapacity").val());
        formData.append("RoomDescription", $("#txtRoomDescription").val());
       // formData.append("Image", $("#UploadImage").get(0).files[0]);

        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                if (data.success === true) {
                    alert(data.message);
                    ResetRoomInformation();
                    LoadRoomDetails();

                }
            },
            error: function() {
                alert(' There is a some problem to process your request. Please try later!')
            }
        });
    }

    function ResetRoomInformation() {
        $("#txtRoomNumber").val('');
        $("#txtRoomPrice").val('');
        $("#ddBookingStatus").val(1);
        $("#ddRoomType").val(1);
        $("#txtRoomCapacity").val('');
        $("#txtRoomDescription").val('');
       // $("#UploadImage").val('');
        $("#txtRoomNumber").focus();
    }

  /*  function DisplayImage(result) {
        if (result.files && result.files[0]) {
            var fileReader = new FileReader;
            fileReader.onload = function(e) {
                $("#imgRoom").attr('src', e.target.result);
            }
            fileReader.readAsDataURL(result.files[0]);
        }
    } */
</script>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#divAddRoom" data-backdrop="static" data-keyboard="false">
    Add Room
</button>

<!-- Modal -->
<div class="modal fade" id="divAddRoom" tabindex="-1" role="dialog" aria-labelledby="divAddRoomLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="divAddRoomLabel">Room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.RoomNumber)
                    @Html.TextBoxFor(model => model.RoomNumber, new { @class = "form-control", id = "txtRoomNumber" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.RoomPrice)
                    @Html.TextBoxFor(model => model.RoomPrice, new { @class = "form-control", id = "txtRoomPrice" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.RoomTypeId)
                    @Html.DropDownListFor(model => model.RoomTypeId, Model.ListOfRoomType, new { @class = "form-control", id = "ddRoomType" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.BookingStatusId)
                    @Html.DropDownListFor(model => model.BookingStatusId, Model.ListOfBookingStatus, new { @class = "form-control", id = "ddBookingStatus" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.RoomCapacity)
                    @Html.TextBoxFor(model => model.RoomCapacity, new { @class = "form-control", id = "txtRoomCapacity" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.RoomDescription)
                    @Html.TextBoxFor(model => model.RoomDescription, new { @class = "form-control", id = "txtRoomDescription" })
                </div>

                @*<div class="form-group col-md-6">
            @Html.LabelFor(model => model.RoomImage)
            <input id="UploadImage" type="file" class="form-control" name="roomImage" title="Load Image" onchange="DisplayImage(this)" />
            <img id="imgRoom" height="100" width="100" style="border: solid" />
        </div> *@

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btnSave" type="button" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 70px"></div>
<div id="divLoadRoomDetails">
    
</div>